
img {

    float: left;
    max-width: 320px;
    border-radius: 120px;
    margin-right: 40px;

}

#titulocanal {

    font-size: 46px;
    color: blue;
    text-align: center;
    font-weight: 400;

}

.wrapper {

    margin: 150px auto;
    width: 70%;
  
  }
  
  .text-box {
  
    color: #fff;
  
  }
  
  .text-box a {
  
    font-size: 36px;
    text-align: justify;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    transition: 0.25s;

  }

  .text-box a:hover {
  
    color: #4440c3;

  }
  
  .text-box p {

    text-align: justify;

  }